#!/bin/bash
kubectl create secret generic mongodb-auth -n semesterproject \
    --from-literal=username='admin' \
    --from-literal=password='INSERT PASSWORD HERE' \
    --from-literal=connectionstring='mongodb://admin:INSERT PASSWORD HERE@mongodb:27017'